* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #E1A4A0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #F28B8B;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    color: white;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="date"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #C45653;
    border-radius: 5px;
    outline: none;
    background-color: #ffe6f2;
    font-size: 1em;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: #C45653;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 10px;
    background-color: #C45653;
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc0055;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #C45653;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #a33e3b;
}
